<nz-select [(ngModel)]="selectedYear" nzPlaceHolder="select year" (ngModelChange)="onChange()">
    <nz-option *ngFor="let p of populations" [nzLabel]="p.year" [nzValue]="p.year"></nz-option>
</nz-select>

<div nz-row>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="10" nzXl="10" nzXxl="10">
        <app-table-region-v1 [data]="dataOfSelectedYear">
        </app-table-region-v1>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="14" nzXl="14" nzXxl="14">
        <app-pie-chart-v2 title="Population {{selectedYear}}" [data]="region_population_array">
        </app-pie-chart-v2>
        <app-map-chart-region-v1 class="map" title="Population {{selectedYear}}" [data]="region_population_array">
        </app-map-chart-region-v1>
    </div>
    <div class="map" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXxl="24">
        <app-bar-chart-v1 title="Population {{selectedYear}}" [xAxis_lables]="region_names"
            [data]="gender_populations_array"></app-bar-chart-v1>
    </div>
    <div class="col2" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXxl="24">
        <app-bar-chart-v1 title="Population {{selectedYear}}" [xAxis_lables]="region_names"
            [data]="age_populations_array"></app-bar-chart-v1>
    </div>
</div>

<app-bar-chart-v2 [data]="year_gender_region_populations_array"></app-bar-chart-v2>

<app-bar-chart-v3 [data]="year_age_region_populations_array"></app-bar-chart-v3>