<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="xxl" [nzCollapsedWidth]="0">
    <div class="logo">InFRmation</div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Population" nzIcon="team">
        <ul>
          <li nz-menu-item routerLink="/population/france" routerLinkActive="active">France</li>
          <li nz-menu-item routerLink="/population/regions" routerLinkActive="active">France->Régions</li>
          <li nz-menu-item routerLink="/population/departements" routerLinkActive="active">France->Départements</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Administration" nzIcon="block">
        <ul>
          <li nz-menu-item routerLink="/administration/regions" routerLinkActive="active">Régions</li>
          <li nz-menu-item routerLink="/administration/departements" routerLinkActive="active">Départements</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Geo Api" nzIcon="api">
        <ul>
          <li nz-menu-item routerLink="/geoapi/regions" routerLinkActive="active">Régions</li>
          <li nz-menu-item routerLink="/geoapi/departements" routerLinkActive="active">Départements</li>
          <li nz-menu-item routerLink="/geoapi/communes" routerLinkActive="active">Communes</li>
        </ul>
      </li>
      <li nz-menu-item routerLink="/references" routerLinkActive="active">
        <i nz-icon nzType="link" nzTheme="outline"></i>
        <span>Références</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      InFRmation
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <!-- <nz-footer>InFRmation ©2021 By Shui</nz-footer> -->
  </nz-layout>
</nz-layout>