<nz-select [(ngModel)]="selectedYear" nzPlaceHolder="select year" (ngModelChange)="onChange()">
    <nz-option *ngFor="let p of populations" [nzLabel]="p.year" [nzValue]="p.year"></nz-option>
</nz-select>

<div nz-row>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="10" nzXl="10" nzXxl="10">
        <app-table-region-v1 [data]="dataOfSelectedYear">
        </app-table-region-v1>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="14" nzXl="14" nzXxl="14">
        <app-pie-chart-v2 title="Population {{selectedYear}}" [data]="region_population_array">
        </app-pie-chart-v2>
        <app-map-chart-region-v1 class="map" title="Population {{selectedYear}}" [data]="region_population_array">
        </app-map-chart-region-v1>
    </div>
    <div class="map" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXxl="24">
        <app-bar-chart-v1 title="Population {{selectedYear}}" [xAxis_lables]="region_names"
            [data]="gender_populations_array"></app-bar-chart-v1>
    </div>
    <div class="col2" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXxl="24">
        <app-bar-chart-v1 title="Population {{selectedYear}}" [xAxis_lables]="region_names"
            [data]="age_populations_array"></app-bar-chart-v1>
    </div>
</div>

<app-bar-chart-v2 [data]="year_gender_region_populations_array"></app-bar-chart-v2>


<!-- <nz-tabset>
    <nz-tab nzTitle="Map">
        <app-map-chart-region-v1 *ngIf="name_value_array" title="Régions de la France" [data]="name_value_array"></app-map-chart-region-v1>
    </nz-tab>
    <nz-tab nzTitle="Table">
        <nz-table #basicTable [nzData]="dataOfSelectedYear" [nzShowSizeChanger]="true" [nzPageSize]="10"
            [nzPageSizeOptions]="[10,20,50]" [nzShowTotal]="totalTemplate">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Nom</th>
                    <th>Population</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{data.region_code}}</td>
                    <td>{{data.region_name}}</td>
                    <td>{{data.together.total}}</td>
                </tr>
            </tbody>
        </nz-table>
        <ng-template #totalTemplate let-total> Total {{ total }} items</ng-template>
    </nz-tab>
    <nz-tab nzTitle="Age Fixed (gender as selectable options)">
        <nz-select [(ngModel)]="selectedGender" [nzOptions]="genders" nzPlaceHolder="select gender"
            (ngModelChange)="genderChanged()">
        </nz-select>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
            <div nz-col [nzSpan]="12">
                <app-bar-chart-v1 title="Population de la France par région" [xAxis_lables]="region_names" [data]="type_values_array"></app-bar-chart-v1>
            </div>
            <div nz-col [nzSpan]="12">
                
                <app-stacked-area-chart-v1 title="Population de la France par région" [xAxis_lables]="years" [data]="year_age_values_array"></app-stacked-area-chart-v1>
                <app-stacked-area-chart-v2 title="Population de la France par région" [xAxis_lables]="years" [data]="year_age_values_array"></app-stacked-area-chart-v2>

                <app-line-chart-v1 title="Population de la France par région" [xAxis_lables]="years" [data]="year_gender_values_array"></app-line-chart-v1>
            </div>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Gender Fixed (age as selectable options)">
        <app-pie-chart-v1 *ngIf="name_value_array" title="Population de la France par région" [data]="name_value_array"></app-pie-chart-v1>
        <app-pie-chart-v2 *ngIf="name_value_array" title="Population de la France par région" [data]="name_value_array"></app-pie-chart-v2>
    </nz-tab>
</nz-tabset> -->